.video-teaser {
  position: relative;
  height: 250px;
  margin-bottom: 30px;
}

.video-teaser .video-data {
  color: #fff;
  z-index: 1;
  position: absolute;
  bottom: 0px;
  width: 100%;
  // height: 204px;
  padding: 75px 15px 15px 15px;
  background-image: url(agenda_fundo.png);
  background-size: cover;
}
.video-teaser figure img {
  width: 100%;
}

.video-info {
  width: 100%;
  z-index: 2;
  position: absolute;
  bottom: 0px;
  padding: 3px 15px 2px 15px;
  background-color: #072448;
}

.video-info .data {
  font-size: 16px;
  color: #fff;
  margin-bottom: 5px;
  letter-spacing: -0.5px;
}
