<div class="row">
<div class="col col-sm-12">
  <h2>Vídeos</h2>
  <div class="row">
    {{#each model.records as |record|}}

    {{#link-to 'videos.video' record.id}}

    <div class="col col-lg-3 col-md-4 col-sm-6 col-xs-12">
      {{app-video-teaser record=record}}
    </div>

    {{/link-to}}

    {{/each}}
  </div>
</div>
</div>